<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title></title>
  </head>
  <body>
    <h4>loading ... </h4>
    <script src="index_bundle.js"></script></body>
  </body>
</html>
